@import url("https://fonts.googleapis.com/css?family=Dancing+Script");

#paper {
  width: 600px;
  height: 700px;
  position: relative;
  margin: 20px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(https://cdn.pixabay.com/photo/2016/06/20/13/44/paper-1468883_1280.jpg);
  background-size: cover;
  box-shadow: 0px 0px 5px 0px #888;
}

input {
  background: none !important;
  font-family: "Dancing Script", cursive;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
  border: none !important;
}

#paper::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: rgba(255, 0, 0, 0.4);
}

#content {
  padding-top: 6px;
  padding-left: 56px;
  padding-right: 16px;
  line-height: 25px;
  font-family: "Dancing Script", cursive;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
}

#pesan,
#nama {
  background: none !important;
  font-family: "Dancing Script", cursive;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
  border: none !important;
}

#pesan {
  height: 500px;
  width: 100%;
}

#content form {
  text-align: right;
}
